@import url("normalize.css");
@import url("fonts.css");

:root {
  --background-dark       : #2d303a;
  --light-dark            : #323746;
  --background-light      : #f2f2f2;
  --color-light           : #ffffff;
  --color-border          : #dedede;
  --color-primary         : #f06c64;
  --color-headers         : #666d89;
  --color-text            : #767e9e;
  --color-text-additional : #f0d8d9;
  --color-form-text       : #f48c8f;
  --color-form-input      : #d6564f;
  --color-dots            : #494e62;
  --color-pink            : #ea676d;
  --color-black           : black;
}

body {
  font-family: "Lato", "Verdana", sans-serif;
  font-weight: 400;
}	

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
  width: 960px; 
  margin: 0 auto;
}

.layout-3-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-4-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
  -ms-flex-preferred-size: 300px;
      flex-basis: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;        
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

/* Header */

.header {
  background: var(--background-dark);
  min-height: 94px;
  width: 100%;
  border-bottom: 6px solid var(--light-dark);
  position: fixed;
  top: 0;
  z-index: 5;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  min-height: 88px; 
}

.header__logo {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  color: var(--color-light);
  margin: 0;
  padding-left: 10px;
}

.header__logo::after {
  content: "*";
  position: absolute;
  color: var(--color-primary);
  top: -2px;
  right: -9px;
}

.header__navigation {
  padding-top: 10px;
}

/* Navigation */

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation__item-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-light);
  padding: 20px 14px 21px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: color 0.7s;
  -o-transition: color 0.7s;
  transition: color 0.7s;
}

.navigation__item-link--active,
.navigation__item-link:hover {
  color: var(--color-primary);
}

.navigation__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item:not(:last-of-type)::after {
  position: absolute;
  content: "";
  background: var(--color-dots);
  width: 2px;
  height: 2px;
  border-radius: 50%;
  right: -3px;
}

/* slider */

.slider {
  background: var(--color-primary);
  position: relative;
  margin-top: 94px;
  border-bottom: 6px solid var(--color-pink);
}

.slider__wrapper {  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  margin-bottom: 58px;
  min-height: 594px;
  outline: 1px solid red;
} 

.slider__button {
  outline: 1px solid blue;
  width: 80px;
  height: auto;
  background-color: transparent;  
  background-image: url("assets/img/next.svg");
  background-repeat: no-repeat;
  background-position: 48px 50%;
  -webkit-transition: background-image 0.5s;
  -o-transition: background-image 0.5s;
  transition: background-image 0.5s;
}

.slider__button:hover,
.slider__button:active {
  background-image: url("assets/img/next--colored.svg");
}

.slider__button--prev {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: auto;
}

.slider__button--next {
  margin-left: auto;
}

.slider__item-wrapper {
  width: 796px;
  height: 594px;
  overflow: hidden;
}

.slider__images {
  width: 796px;
  height: 594px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;        
}

.slider__images--blue {
  background: blue;
}

.slider__image--first {
  margin-top: 53px;
}

.slider__image--second {
  margin-top: 175px;
}

.invisible {
  opacity: 0;
}

.slider__phone-button {
  background-color: transparent;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.slider__phone-button--first {
  top: 460px;
  left: 87px;
}

.slider__phone-button--second {
  top: 261px;
  left: 320px;
}

.slider__black-screen {
  width: 188px;
  height: 333px;
  position: absolute;
  background-color: var(--color-black);
  cursor: pointer;
}

.slider__black-screen--first {
  top: 118px;
  left: 14px;
}

.slider__black-screen--second {
  top: 116px;
  left: 444px;
  width: 189px;
  height: 333px;
  transform: rotate(90deg);
}

.hidden {
  position: relative;
  display: none;
}

.item {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 960px) {
  .description {
    flex-direction: column;
    align-items: center;
  }
}

/* services */

.services {
  background: var(--background-light);
  position: relative;
  border-bottom: 6px solid var(--color-light);
}

.services__wrapper {
  padding: 0 10px 52px;
}

.services__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 30px;
  color: var(--color-headers);  
  padding-top: 61px;
}

.services__desc {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300px;
  color: var(--color-text);
  margin-bottom: 23px;
  text-align: justify;
}

.services__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services__item {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;    
  padding-left: 80px;
  position: relative;
  text-align: justify;
}

.services__item::before {
  position: absolute;
  content: "";
  width: 59px;
  height: 59px;
  background-position: center;
  left: 0;
  top: 24px;
}

.services__item--pen::before {
  background-image: url("assets/img/pen.png"); 
}

.services__item--bulb::before {
  background-image: url("assets/img/bulb.png");  
}

.services__item--heart::before {
  background-image: url("assets/img/heart.png"); 
}

.services__item--phone::before {
  background-image: url("assets/img/phone.png"); 
}

.services__item--bubble::before {
  background-image: url("assets/img/bubble.png"); 
}

.services__item--star::before {
  background-image: url("assets/img/star.png"); 
}

.services__item-title {
  margin: 0;
  font-size: 18px;
  font-weight: 900;
  color: var(--color-headers);
  margin-top: 21px;
  margin-bottom: 9px;
}

.services__content {
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-text);
  margin-bottom: 10px;
}

/* Portfolio */

.portfolio {
  background-color: var(--background-dark);
  border-bottom: 6px solid var(--light-dark);
}

.portfolio__wrapper {  
  padding-bottom: 52px;
}

.portfolio__title {
  margin: 0;
  padding: 61px 10px 0;
  margin-bottom: 19px;
  font-size: 30px;
  font-weight: 900;
  color: var(--color-headers);  
}

.portfolio__desc {
  margin: 0;
  padding: 0 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: var(--color-text);
}

/* Tag */

.tags {
  padding: 0 10px;
  margin-bottom: 19px;
}

.tag {
  font-size: 12px;
  line-height: 20px;
  color: var(--color-text);
  font-weight: 400;
  border: 1px solid var(--color-text);
  display: inline-block;
  padding: 0 7px;
  border-radius: 5px;
  margin-right: 7px;
  cursor: pointer;
}

.tag--wd {
  padding: 0 5px 0 7px;
}

.tag--gd {
  padding: 0 4px 0 7px;
}

.tag--aw {
  padding: 0 4px 0 7px;
}

.tag:hover,
.tag--active {
  color: var(--color-border);
  border: 1px solid var(--color-border);
}

/* Projects */

.projects {
  list-style: none;
  padding: 0 10px;  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  width: 100%;
  height: 616px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.projects__item {
  width: 220px;
  height: 187px;
  background-color: var(--light-dark);
  margin-bottom: 20px;
}

/* About-us */

.about-us {
  background: var(--background-light);
  border-bottom: 6px solid var(--color-light);
} 

.about-us__wrapper {
  padding-bottom: 66px;
}

.about-us__title {
  font-size: 30px;
  font-weight: 900;
  color: var(--color-headers);
  margin: 0;
  padding: 61px 10px 0;
  margin-bottom: 20px;
}

.about-us__desc {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-text);
  margin: 0;
  padding: 0 10px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 44px;
}

.about-us__team {
  margin: 0 auto;
}

.crewman {
  width: 300px;
}

.crewman__name {
  font-size: 18px;
  font-weight: 900;
  color: var(--color-headers);
  margin: 0;
  margin: 13px 0 8px;
}

.crewman__desc {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-text);
  margin: 0;
  margin-bottom: 24px;
}

/* social */

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
}

.social__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-headers);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-headers);
  margin-right: 8px;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.social__link:hover {
  color: var(--color-light);
  border-color: var(--color-light);
  background: var(--color-headers);
}

/* Get-in-touch */

.get-in-touch {
  background: var(--color-primary);
  border-bottom: 6px solid var(--color-pink);
}

.get-in-touch__wrapper {
  padding-bottom: 3px;
}

.get-in-touch__title {
  font-size: 30px;
  font-weight: 900;
  padding: 61px 10px 0;
  margin: 0;
  margin-bottom: 20px;
  color: var(--color-text-additional);
}

.get-in-touch__desc {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  padding: 0 10px;
  margin: 0;
  margin-bottom: 33px;
  color: var(--color-text-additional);
  text-align: justify;
}

.get-in-touch__inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 8px 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.get-in-touch__form {
  width: 620px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.get-in-touch__contacts  {
  width: 302px;
}

/* form */

.form__button {  
  padding: 10px 14px;
  height: 38px;
  background: var(--background-dark);
  color: var(--color-light);
  border-radius: 5px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  margin-right: auto;
}

.form__button:hover,
.form__button:focus,
.form__button:active {
  background: var(--light-dark);
  color: var(--color-primary);
}

/* input */

.input {
  border: 2px solid transparent;
  border-radius: 5px;
  height: 38px;
  padding: 6px 13px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--color-form-input);
  margin-bottom: 16px;
  outline: none;
  -webkit-transition: border-color 0.7s;
  -o-transition: border-color 0.7s;
  transition: border-color 0.7s;
}

.input:hover,
.input:focus,
.input:active {
  border-color: var(--color-text-additional); 
  color: var(--color-text-additional);
}

.textarea {
  width: 100%;
  height: 202px;
  resize: none;
  border-radius: 5px;
  padding: 6px 13px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid transparent;
  background: var(--color-form-input);
  outline: none;
  -webkit-transition: border-color 0.7s;
  -o-transition: border-color 0.7s;
  transition: border-color 0.7s;
  margin-bottom: 16px;
}

.textarea:hover,
.textarea:focus,
.textarea:active {
  border-color: var(--color-text-additional); 
  color: var(--color-text-additional);
}

::-webkit-input-placeholder { /* Edge */
  font-size: 12px;
  line-height: 21px;
  color: var(--color-form-text);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 12px;
  line-height: 21px;
  color: var(--color-form-text);
}

::-moz-placeholder {
  font-size: 12px;
  line-height: 21px;
  color: var(--color-form-text);
}

::-ms-input-placeholder {
  font-size: 12px;
  line-height: 21px;
  color: var(--color-form-text);
}

::placeholder {
  font-size: 12px;
  line-height: 21px;
  color: var(--color-form-text);
}

/* Contacts */

.contacts {
  color: var(--color-text-additional);
}

.contacts__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 11px;
}

.contacts__desc {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.contacts__item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 23px;
}

.contacts__item {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-text-additional);
  padding-left: 24px;
  position: relative;
  -webkit-transition: color 0.7s;
  -o-transition: color 0.7s;
  transition: color 0.7s;
}

.contacts__item:not(:first-of-type):hover {
  color: var(--light-dark);
}

.contacts__link {
  text-decoration: none;
  color: inherit;
}

/* Footer */

.footer {
  background: var(--background-dark);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-headers);
  min-height: 76px;
}

.footer__copyright {
  padding-left: 11px;
}

.copyright {
  font-size: 12px;
  color: var(--color-headers);
  display: inline-block;
}

.footer__social .social__link:hover {
  color: var(--color-light);
  border-color: var(--color-light);
  background: var(--background-dark);
}

.footer__social {
  padding-right: 2px;
}

/* popup */

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;  
  z-index: 5;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__content {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-light);
  border-radius: 3px;
  padding: 40px;
}

.popup__title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}

.popup__subject,
.popup__desc {
  text-align-last: left;
  font-weight: 400;
}

.popup__button {
  margin-top: auto;  
}