.wrapper {
  width: 960px; 
  margin: 0 auto;
}

@media(max-width: 768px) {
  .wrapper {
    width: 688px; 
  }
}

@media (max-width: 375px) {
  .wrapper {
    width: auto;
    padding: 0 32px;
    margin: 0;
  }
}
  